doctype html
html(lang="ru")
    head
        title Yamaguchi Hair Styler
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="css/main.css")

    body
        block content

        script(src="js/main.js")
